<div class="custom-result-section">
    <div class="container">
        <div class="custom-result-wrap">
            <div class="custom-result-head">
                <div class='custom-best-seller-top custom-result-top'>
                    <div>Real Result</div>
                    <h2>Real Result</h2>
                </div>
            </div>
            <div class="custom-result-body">
                <div class="custom-result-body-wrap">
                    <div class="custom-result-body-left">
                        <img src="https://cdn.shopify.com/s/files/1/0551/0728/9186/files/turbo1_1.webp?v=1735579732" alt="">
                    </div>
                    <div class="custom-result-body-right">
                        <div class="custom-result-body-card-item">
                            <div class="custom-result-body-card-item-minus">
                                <span class="custom-result-minus"></span>
                            </div>
                            <div class="custom-result-body-card-item-column-two">
                                <span class="custom-result-body-card-item-column-two-span-one">100%</span>
                                <span class="custom-result-body-card-item-column-two-span-two">say</span>
                            </div>
                            <p class="custom-result-body-card-item-text">
                                it effectively enhances length and girth.
                            </p>
                        </div>
                        <div class="custom-result-body-card-item">
                            <div class="custom-result-body-card-item-minus">
                                <span class="custom-result-minus"></span>
                            </div>
                            <div class="custom-result-body-card-item-column-two">
                                <span class="custom-result-body-card-item-column-two-span-one">100%</span>
                                <span class="custom-result-body-card-item-column-two-span-two">say</span>
                            </div>
                            <p class="custom-result-body-card-item-text">
                                it effectively enhances length and girth.
                            </p>
                        </div>
                        <div class="custom-result-body-card-item">
                            <div class="custom-result-body-card-item-minus">
                                <span class="custom-result-minus"></span>
                            </div>
                            <div class="custom-result-body-card-item-column-two">
                                <span class="custom-result-body-card-item-column-two-span-one">100%</span>
                                <span class="custom-result-body-card-item-column-two-span-two">say</span>
                            </div>
                            <p class="custom-result-body-card-item-text">
                                it effectively enhances length and girth.
                            </p>
                        </div>
                        <div class="custom-result-body-card-item">
                            <div class="custom-result-body-card-item-minus">
                                <span class="custom-result-minus"></span>
                            </div>
                            <div class="custom-result-body-card-item-column-two">
                                <span class="custom-result-body-card-item-column-two-span-one">100%</span>
                                <span class="custom-result-body-card-item-column-two-span-two">say</span>
                            </div>
                            <p class="custom-result-body-card-item-text">
                                it effectively enhances length and girth.
                            </p>
                        </div>
                        <div class="custom-result-body-card-item">
                            <div class="custom-result-body-card-item-minus">
                                <span class="custom-result-minus"></span>
                            </div>
                            <div class="custom-result-body-card-item-column-two">
                                <span class="custom-result-body-card-item-column-two-span-one">100%</span>
                                <span class="custom-result-body-card-item-column-two-span-two">say</span>
                            </div>
                            <p class="custom-result-body-card-item-text">
                                it effectively enhances length and girth.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<style>


.custom-result-body {
    padding-top: 91px;
}
.custom-result-body-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 75px;
}
.custom-result-body-left {
}
.custom-result-body-right {
    display: flex;
    flex-direction: column;
    gap: 26px;
}
.custom-result-body-card-item {
    padding: 22px 46px 14px 27px;
    border-radius: 28px;
    background: #FFF;
    box-shadow: 0px 0px 18.6px 0px rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
}
.custom-result-body-card-item-column-two-span-one{
    color: #05060B;
    text-align: center;
    font-family: "Proxima Nova";
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.custom-result-body-card-item-column-two-span-two{
    color:#05060B;
    text-align: center;
    font-family: "Proxima Nova";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.custom-result-minus{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 4px;
    background: #000;
}
.custom-result-body-card-item-minus {
}
.custom-result-body-card-item-column-two {
    display: flex;
    flex-direction: column;
    padding: 0 16px 0 32px;
    align-items: center;
}
.custom-result-body-card-item-text {
    color:#05060B;
    font-family: "Proxima Nova";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.custom-result-section{
    width: 100%;
    background: #F2F2F2;
    padding: 103px 0 82px 0;
}

.custom-result-top div{
    width: 100%;
    left: 0;
}
.custom-result-top h2{
    color: #05060B;
    font-family: "Proxima Nova";
    font-size: 55px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}
.custom-result-top{
    text-align: center;
}

</style>




{% schema %}
  {
    "name": "Custom result",
    "settings": [],
     "presets": [
    {
      "name": "Custom result"
    }
  ]
  }
{% endschema %}