<div class="product-tabs-section">
    <div class="container">
        <div class="tabs">
            <button class="tab-button active" data-tab="tab-1">Details</button>
            <button class="tab-button" data-tab="tab-2">Descriptions</button>
            <button class="tab-button" data-tab="tab-3">Key Features</button>
            <button class="tab-button" data-tab="tab-4">What's on the Box</button>
            <button class="tab-button" data-tab="tab-5">Sizing Guide</button>
            <button class="tab-button" data-tab="tab-6">Instructions</button>
            <button class="tab-button" data-tab="tab-7">Reviews</button>
        </div>
    </div>

        <!-- Контент вкладок -->
        <div class="tab-content active" id="tab-1">
            <div class="details-tab">
                <div class="container">
                    <div class="details-wrap">
                        <div class="details-head">
                            <div class='custom-best-seller-top tab-details-top'>
                                <div>Proven Result</div>
                                <h2>Proven Result</h2>
                            </div>
                        </div>
                        <div class="details-body">
                            <div class="details-body-content">
                                <div class="details-body-content-left">
                                    <img src="https://cdn.shopify.com/s/files/1/0551/0728/9186/files/Group_46.png?v=1735622270" alt="">
                                </div>
                                <div class="details-body-content-right">
                                    <div class="details-body-content-right-head">
                                        60 day money back guarantee, no quibbles!
                                    </div>
                                    <div class="details-body-content-right-content">
                                        Even if you have done a 100 washes – no problem. If you don’t like it – we will collect it and arrange a full refund. We want you to be absolutely happy with your purchase. You can see how happy our customers are from our EXCELLENT Trust Pilot rating. <br/> <br/> If you change your mind, don’t like the product or even if your circumstances just change – we will collect the machine and process your full refund at any time in the first 60 days.
                                    </div>
                                    <div class="details-body-content-right-icons">
                                        <div class="details-body-content-right-icons-wrap">
                                            <div class="details-body-content-right-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                                                    <path d="M7.47217 18.8806L0.322169 11.7306C-0.10739 11.301 -0.10739 10.6045 0.322169 10.1749L1.87777 8.61929C2.30733 8.18969 3.00385 8.18969 3.43341 8.61929L8.24999 13.4358L18.5666 3.11929C18.9961 2.68973 19.6927 2.68973 20.1222 3.11929L21.6778 4.67493C22.1074 5.10449 22.1074 5.80097 21.6778 6.23057L9.02781 18.8806C8.59821 19.3102 7.90173 19.3102 7.47217 18.8806Z" fill="#60AC22" style="fill:#60AC22;fill:color(display-p3 0.3768 0.6749 0.1322);fill-opacity:1;"/>
                                                </svg>
                                                <span>60 days to decide</span>
                                            </div>
                                            <div class="details-body-content-right-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                                                    <path d="M7.47217 18.8806L0.322169 11.7306C-0.10739 11.301 -0.10739 10.6045 0.322169 10.1749L1.87777 8.61929C2.30733 8.18969 3.00385 8.18969 3.43341 8.61929L8.24999 13.4358L18.5666 3.11929C18.9961 2.68973 19.6927 2.68973 20.1222 3.11929L21.6778 4.67493C22.1074 5.10449 22.1074 5.80097 21.6778 6.23057L9.02781 18.8806C8.59821 19.3102 7.90173 19.3102 7.47217 18.8806Z" fill="#60AC22" style="fill:#60AC22;fill:color(display-p3 0.3768 0.6749 0.1322);fill-opacity:1;"/>
                                                </svg>
                                                <span>No questions asked</span>
                                            </div>
                                            <div class="details-body-content-right-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                                                    <path d="M7.47217 18.8806L0.322169 11.7306C-0.10739 11.301 -0.10739 10.6045 0.322169 10.1749L1.87777 8.61929C2.30733 8.18969 3.00385 8.18969 3.43341 8.61929L8.24999 13.4358L18.5666 3.11929C18.9961 2.68973 19.6927 2.68973 20.1222 3.11929L21.6778 4.67493C22.1074 5.10449 22.1074 5.80097 21.6778 6.23057L9.02781 18.8806C8.59821 19.3102 7.90173 19.3102 7.47217 18.8806Z" fill="#60AC22" style="fill:#60AC22;fill:color(display-p3 0.3768 0.6749 0.1322);fill-opacity:1;"/>
                                                </svg>
                                                <span>Full money refund</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="details-body-content-right-btn">
                                        <a href="#" class="details-body-content-right-btn-item" >DISCOVER MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content" id="tab-2">
            <div class="page-width">
                {{ product.description }}
            </div>
        </div>
        <div class="tab-content" id="tab-3">Tab-3 Content</div>
        <div class="tab-content" id="tab-4">Tab-4 Content</div>
        <div class="tab-content" id="tab-5">Tab-5 Content</div>
        <div class="tab-content" id="tab-6">Tab-6 Content</div>
        <div class="tab-content" id="tab-7">Tab-7 Content</div>
</div>

<style>


.details-wrap{
    padding: 30px 0px 126px 0px;
}

.details-body-content-right-btn-item{
    color: #FFF;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    padding: 18px 87px;
    border-radius: 12px;
    background: #40AE00;
    margin-top: 40px;
}

.details-body-content-right-icon{
    display: flex;
    gap: 10px;
    align-items: center;
}
    
.details-body-content-right-icons-wrap{
    display: flex;
    gap: 38px;
    align-items: center;
}

.details-body-content-right-content{
    font-family: "Proxima Nova";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 32px;
}

.details-body-content-right-head{
    color: #FFF;
    font-family: "Proxima Nova";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 30px 0;
}

.details-body-content-right{
    max-width: 730px;
    width: 100%;
}
.details-body-content-left{
    max-width: 351px;
    width: 100%;
}
.details-body-content-left img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.details-body-content{
    display: flex;
    align-items: flex-end;
    gap: 38px;
}

  .details-body-content-right{
    color: #fff;
}
  .tabs-container {
    font-family: Arial, sans-serif;
  }

  /* Стили кнопок вкладок */
  .tabs {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #e0e0e0;
    gap: 44px;
    height: 50px;
  }

  .tab-button {
    padding: 10px 0px;
    background: none;
    border: none;
    border-bottom: 3px solid transparent;
    text-align: center;
    cursor: pointer;
    transition: color 0.3s, border-color 0.3s;

    color: #727272;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  .tab-button:hover {
    color: #60AC22;
  }

  .tab-button.active {
    color: #60AC22;
    border-bottom: 3px solid #60AC22;
    margin-bottom: -2px;
  }

  /* Стили контента вкладок */
  .tab-content {
    display: none;
    border-top: none;
  }

  .tab-content.active {
    display: block;
  }
  .tab-details-top div{
    width: 100%;
    left: 0;
}
  .tab-details-top h2{
    color: #fff;
    font-family: "Proxima Nova";
    font-size: 55px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}
.details-head{
    padding-top: 103px;
    text-align: center;
}
.details-tab{
    background: #000;
    width: 100%;
}
.tab-content.active{
    padding-top: 55px;
}
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const tabs = document.querySelectorAll(".tab-button");
    const contents = document.querySelectorAll(".tab-content");

    tabs.forEach((tab) => {
      tab.addEventListener("click", function () {
        // Удаляем активный класс со всех вкладок и контента
        tabs.forEach((t) => t.classList.remove("active"));
        contents.forEach((c) => c.classList.remove("active"));

        // Добавляем активный класс для текущей вкладки и контента
        const target = this.getAttribute("data-tab");
        document.getElementById(target).classList.add("active");
        this.classList.add("active");
      });
    });
  });
</script>


{% schema %}
  {
    "name": "Product tabs",
    "settings": [],
     "presets": [
    {
      "name": "Product tabs"
    }
  ]
  }
{% endschema %}