<div class="custom-best-seller-top">
              <div >Favorites</div>
              <h2 >Trending our Best sellers</h2>
          </div>

  <div class="wishlist-container"></div>




{% schema %}
  {
    "name": "Wishlist Section",
    "settings": [
     
    ],
    "presets": [
      {
        "name": "Wishlist Section"
      }
    ]
  }
{% endschema %}