<div class="custom-best-seller-top">
              <div >Favorites</div>


    <div class="wishlist-container"></div>

  
          </div>






{% schema %}
  {
    "name": "Wishlist Section",
    "settings": [
     
    ],
    "presets": [
      {
        "name": "Wishlist Section"
      }
    ]
  }
{% endschema %}