<div class="custom-best-seller-top">
      <div >Favorites</div>
      <h2 plerdy-tracking-id="13429527201">Favorites</h2>
</div>


<div class="wishlist-container">
  {% for product in collections.all.products %}
    {% render 'card-product', product: product %}
  {% endfor %}
</div>

    







{% schema %}
  {
    "name": "Wishlist Section",
    "settings": [
     
    ],
    "presets": [
      {
        "name": "Wishlist Section"
      }
    ]
  }
{% endschema %}